.env
.venv
.cache_omk
.cache_omk_audiovisual
.cache_omk_documents
.cache_omk_index
.cache_omk_references
.cache_word_count
__pycache__
bertopic_model
bertopic_model_merge_full
data/iwac_articles.csv
data/iwac_audiovisual.csv
data/iwac_documents.csv
data/iwac_index.csv
data/iwac_publications.csv
data/iwac_references.csv